<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <meta name="full-screen" content="yes">
    <title>
        title
    </title>
    <link rel="stylesheet" href="../css/card.css">
</head>

<body>
    <article id="page" class="page">
        <div class="header">
        </div>

    </article>
</body>
<script type="text/javascript" src="../js/responsive.js"></script>

</html>
